main {
    grid-area: main;
    background: #fdf5f8;
}

main  .rodape-main {
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    background: #fdf5f8b9;
    box-shadow: 0rem .4rem .6rem 0rem #d6b3ff52;
}

main .rodape-main .icon-img {
    height: 8rem;
    width: 13rem;
    background: url(../img/Logo.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

main  .rodape-main .rodape-mid{
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
    gap: 5rem;
}
main  .rodape-main .rodape-mid span{
    font-weight: bold;
    font-family: 'Platypi';
}

main .rodape-main .rodape-right{
    display: flex;
    gap: 5rem;
    font-size: 2.3rem;
}
main .endereco {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    gap: 2rem;
}
main .endereco span{
    font-weight: 500;
    font-size: 1.5rem;
}

main .endereco span:nth-child(2){
    font-size: 2.5rem;
    font-weight: 800;
}
main .produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .produtos .produto {
    height: 35rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 6rem;
}

main .produtos .produto .produto-img{
    margin-top: 1rem;
    height: 25rem;
    width: 25rem;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 1rem;
    padding-bottom: 1rem;
    color: #225AC4;
}
main .produtos .produto .produto-img i{
    visibility: hidden;
}
main .produtos .produto .produto-img:hover{
    transition: .65s;
}
main .produtos .produto .produto-img:hover i{
    visibility:visible;
    cursor: pointer;
}
main .produtos .produto .produto-img i{
    font-size: 4rem;
}
main .produtos .produto:nth-child(1) .produto-img{
    border-radius: .5rem;
    background: url(../img/Bocchi\ T1.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(1) .produto-img:hover{
    background: url(../img/Bocchi\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(2) .produto-img{
    border-radius: .5rem;
    background: url(../img/Guardiao\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(2) .produto-img:hover{
    background: url(../img/Guardiao\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(3) .produto-img{
    border-radius: .5rem;
    background: url(../img/Nana\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(3) .produto-img:hover{
    background: url(../img/Nana\ T2.avif);
    background-size: cover;
    background-position: center;

}

main .produtos .produto:nth-child(4) .produto-img{
    border-radius: .5rem;
    background: url(../img/Olvia\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(4) .produto-img:hover{
    background: url(../img/Olivia\ T2.avif);
    background-size: cover;
    background-position-x:-2.5rem ;
}

main .produtos .produto:nth-child(5) .produto-img{
    border-radius: .5rem;
    background: url(../img/Oshi\ no\ ko\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(5) .produto-img:hover{
    background: url(../img/Oshi\ no\ ko\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(6) .produto-img{
    border-radius: .5rem;
    background: url(../img/Queen\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(6) .produto-img:hover{
    background: url(../img/Queen\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(7) .produto-img{
    border-radius: .5rem;
    background: url(../img/Radiohead\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(7) .produto-img:hover{
    background: url(../img/Radiohead\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(8) .produto-img{
    border-radius: .5rem;
    background: url(../img/SailorWave\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(8) .produto-img:hover{
    background: url(../img/SailorWave\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(9) .produto-img{
    border-radius: .5rem;
    background: url(../img/Taylor\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(9) .produto-img:hover{
    background: url(../img/Taylor\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(10) .produto-img{
    border-radius: .5rem;
    background: url(../img/Vaporware\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(10) .produto-img:hover{
    background: url(../img/VaporWare\ T2.avif);
    background-size: cover;
}

main .produtos .produto:nth-child(11) .produto-img{
    border-radius: .5rem;
    background: url(../img/Yoasobi\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(11) .produto-img:hover{
    background: url(../img/Yoasobi\ T2.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(12) .produto-img{
    border-radius: .5rem;
    background: url(../img/Kayne\ T1.avif);
    background-size: cover;
}
main .produtos .produto:nth-child(12) .produto-img:hover{
    background: url(../img/Kayne\ T2.avif);
    background-size: cover;

}

main .produtos .produto .info {
    margin-top: 1rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
}

main .produtos .produto .info span {
    font-size: 1.8rem;
}
main .produtos .produto .info span s{
    text-decoration:line-through;
    font-size: 1.3rem;
    color: rgb(255, 92, 92);
    margin-right: 1rem;
}

main .produtos .produto .info span t{
    font-size: 1.3rem;

}
main .produtos .produto .info span:nth-child(1) {
    font-weight: 700;
    font-size: 1.5rem;
}

main .produtos .produto .info span:nth-child(3) {
    font-size: 1.4rem;
    color: grey;
}

main .all {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;   
}
main .all button {
    border: .2rem solid black;
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

main .all button:hover{
    background: #000;
    color: #fff;
    transition: .3s;
}

main .banners {
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

main .banners .box {
    width: 50rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFDDDD;
    margin-bottom: 4rem;
}

main .banners .box:nth-child(1) {
    background:#FACBC0;
}

main .banners .box span {
    width: 35rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

main .banners .box span:nth-child(1) {
    font-weight: 700;
    font-size: 9rem;
}
main .banners .box span:nth-child(2) {
    font-weight: 700;
    font-size: 3rem;
}
main .banners .box span:nth-child() {
    font-size: 3rem;

}

main .banners .box:nth-child(2) span {
    width: 32rem;
}
